:root {
  --border-dropdown: 1px solid var(--border);
  --border-radius: 4px;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  max-width: 150px;
}

.head {
  cursor: pointer;
  padding: 5px;
  border: var(--border-dropdown);
  border-radius: var(--border-radius);
}

.menu {
  position: absolute;
  box-sizing: border-box;
  border: var(--border-dropdown);
  width: 100%;
  border-radius: var(--border-radius);
}

.option {
  cursor: pointer;
  padding: 5px;
}

.option:hover {
  opacity: 0.8;
  background-color: var(--highlight);
}
