.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.head {
  cursor: pointer;
  padding: 5px;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuContainer {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 999;
}

.menu {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: var(--surface);
}

.option {
  cursor: pointer;
  padding: 5px;
}

.option:hover {
  opacity: 0.8;
  background-color: var(--highlight);
}
