/* Palette */
:root {
  --z-min: #f8fafc;
  --z-100: #e4e4e7;
  --z-200: #d4d4d8;
  --z-300: #a1a1aa;
  --z-neutral: #71717a;
  --z-400: #52525b;
  --z-500: #3f3f46;
  --z-600: #171717;
  --z-max: #09090b;

  --input-border: 1px solid var(--border);
  --input-border-radius: 4px;
}

/* Unchanging */
:root {
  --border: var(--z-neutral);
}

/* Light-theme */
:root {
  --base: var(--z-min);
  --background: var(--z-100);
  --text: var(--z-600);
  --icon: var(--z-600);
  --surface: var(--z-200);
  --highlight: var(--z-300);
}

[data-theme="dark"] {
  --base: var(--z-max);
  --background: var(--z-600);
  --text: var(--z-100);
  --icon: var(--z-100);
  --surface: var(--z-500);
  --highlight: var(--z-400);
}

body {
  margin: 0;
}

.body {
  font-size: 18px;
  background-color: var(--base);
}

a {
  color: var(--text);
}
